/*
 * Main CSS style sheet of the application
 * Author: Vojtěch Čoupek
 */


:root {
    font-size: 16px;
    font-family: 'Courier New', monospace;

    /* theme 1
    --text-primary: #F0F4EF;
    --text-secondary: #F0F4EF;
    --bg-primary: #0D1821;
    --bg-secondary: #344966;
    --bg-terciary: #B4CDED;
    --bg-quaternaly: #ffffff;
    --bg-sidenav: #666666;
    */
    
    /* theme 2 
    --text-primary: #DEF2F1;
    --text-secondary: #2B7A78;
    --bg-primary: #17252A;
    --bg-secondary: #3AAFA9;
    --bg-terciary: #FEFFFF;
    */
    /* theme 3 
    --text-primary: #2E9CCA;
    --text-secondary: #464866;
    --bg-primary: #25274D;
    --bg-secondary: #AAABB8;
    --bg-terciary: #29648A;
    */
    /* theme 4 */
    --text-primary: #F0F4EF;
    --text-secondary: #F0F4EF;
    --bg-primary: #212529;
    --bg-primary-second: #343A40;
    --bg-secondary: #344966;
    --bg-secondary-second: #006494;
    --bg-terciary: #ADB5BD;
    --bg-terciary-second: #CED4DA;
    --bg-quaternaly: #E9ECEF;
    --bg-quaternaly-second: #F8F9FA;
    
    
    --bg-sidenav: #666666;
    
    --scroll-active: #bbbbbb;
    --scroll-inactive: #cccccc;
    --bg-red: #ff6961;
    --bg-orange: #ffb347;
    --bg-green: #77dd77;
}

main {
    margin-top: 3rem;
    padding: 0rem;
    height: calc(100% - 3rem - 2*0rem);
}

main.rolable {
   overflow-y: auto;
   overflow-x: hidden;
   padding: 3rem;
}

div.textual_content{
   /*font-family: '', monospace;*/
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--bg-quaternaly); 
    box-sizing: border-box;
    overflow-y: hidden;
}

#karelExercises.padded li {
    line-height: 2.5rem;
}

#karelExercises.padded a, .button {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-family: 'Courier New', monospace;
    cursor: pointer;
    text-align: center;
    user-select: none;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
}

#karelExercises.padded a:hover, .button:hover {
    background-color: var(--bg-secondary-second);
}

/*----------- navbar settings -----------*/

.navbar {
    height: 3rem;
    width: 100%;
    position: fixed;
    background-color: var(--bg-primary);
    z-index: 10;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    height: 100%;
    display: inline-block;
}

.nav-item:nth-child(3) {
    margin-left: calc(100% / 2 - 4*3.5rem);
} 

.nav-item:nth-child(4) {
    margin-left: auto;
}

.nav-item:nth-child(3) a:link {
    text-decoration: none;
    padding: 0rem 1rem 0rem 1rem;
}
  
.nav-link, .nav-dropdown {
    display: flex;
    align-items: center;
    height: 3rem;
    color: var(--text-primary);
    transition: 200ms;
}

.nav-item:hover .nav-dropdown-content,
.nav-dropdown-content:active .nav-dropdown-content,
.nav-dropdown-content:focus-within {
    display: inline-block;
}
  
.nav-link:hover, .nav-dropdown:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-primary-second);
    color: var(--text-secondary);
}

#runCode:hover {
    color: var(--bg-green);
}

#runDebug:hover {
    color: var(--bg-orange);
}

#stop:hover {
    color: var(--bg-red)
}
  
.nav-link svg, .nav-dropdown svg {
    width: 1.5rem;
    min-width: 1.5rem;
    margin: 0 1.5rem;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-primary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    /*border-radius: 0rem 0rem 0.5rem 0.5rem;*/
}

.nav-dropdown-content a {
    color: var(--text-primary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    /*border-radius: 0rem 0rem 0.5rem 0.5rem;*/
}

.nav-dropdown-content a:hover {
    color: var(--text-secondary);
    background-color: var(--bg-primary-second);
}

.submit-dropdown {
    color: inherit;
    background: none; 
    border-width: 0px;
    padding: 0px;
    text-align: inherit;
    font-family: inherit;
    font-size: inherit;
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

/*----------- splitter settings -----------*/

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

split-hidden {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

.content {
    background-color: white;
    /*min-height: 50vh;  was there, in case of any problem with split.js return*/
    /*min-height: 100%;*/
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    background-color: var(--bg-primary);
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    background-color: var(--bg-primary);
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
    overflow-y: hidden;
}

/*----------- ACE breakpoints -----------*/

.ace_gutter-cell.ace_breakpoint{ 
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 1px 1px var(--bg-orange) inset; 
}

.errorMarker {
    border-bottom: 1px solid red;
    /* background-color: var(--bg-red); */
    position: absolute;
    z-index: 20;
  }

/*----------- dashboard -----------*/
.dashboard-buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.1rem;
    background-color: var(--bg-quaternaly);
}

.dashboard-buttons > div, .dashboard-buttons > input {
    background-color: var(--bg-secondary);
    width: calc(25% - 0.2rem);
    margin: 0.1rem;
    min-width: 7.5rem;
    color: var(--text-primary);
    text-align: center;
    line-height: 3rem;
    border-radius: 1rem;
    user-select: none;
    transition: background-color 0.3s ease-in-out;
}

.dashboard-buttons > div:hover, .dashboard-buttons > input:hover {
    background-color: var(--bg-secondary-second);
}

.dashboard-buttons > .dashboard-slider {
    display: flex;
    flex-wrap: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: flex-start;
}

.dashboard-buttons > .dashboard-slider > div {
    padding: 1rem;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background-color: var(--bg-terciary);
    border-radius: 5px;
    height: 0.2rem;
    transition: opacity 0.5s;
    outline: 0;
    outline-color: transparent;
    box-shadow: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 25px;
    background: var(--text-primary);
    cursor: pointer;
    border-radius: 5px;
}
  
.slider::-moz-range-thumb {
    width: 15px;
    height: 25px;
    background: var(--text-primary);
    cursor: pointer;
    border-radius: 5px;
}

.numberPicker {
    width: 75px;
    outline: 0;
    outline-color: transparent;
    box-shadow: none;
    border-radius: 5px;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    text-align: center;
}

.numberPicker::-webkit-inner-spin-button, 
.numberPicker::-webkit-outer-spin-button { 
    opacity: 1;
    border-radius: 5px;
}

.dashboard-buttons > .dashboard-textbox-console {
    width: calc(50% - 4.3rem);
    background-color: black;
    border-color: var(--bg-secondary);
    border-style: solid;
    border-width: 1rem;
    height: 15rem;
    position: relative;
    overflow: auto;
    line-height: 1.2rem;
    min-width: 12rem;
    color: lime;
    text-align: left;
    padding: 1rem;
}

.dashboard-buttons > .dashboard-textbox-console:hover {
    background-color: black;
}

.dashboard-buttons > .dashboard-textbox-console > table {
    color: lime;
    width: 100%;
    border: 1px solid lime;
    border-collapse: collapse;
}

.dashboard-buttons > .dashboard-textbox-console > table td,
.dashboard-buttons > .dashboard-textbox-console > table tr {
    color: lime;
    border: 1px solid lime;
    text-align: center; 
}

.dashboard-buttons > .dashboard-textbox-console > div {
    white-space: nowrap;
    color: lime;
    text-align: left;
}

.controls {
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.1rem;
}

.controls div {
    background-color: var(--bg-primary);
    width: calc((100%/7) - 0.2rem);
    margin: 0.1rem;
    color: var(--text-primary);
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    border-radius: 1rem;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.controls div:hover {
    background-color: var(--bg-primary-second);
}

.controls div svg {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin: 0.70rem;
}
/*----------- scrollbar set -----------*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: var(--scroll-inactive);
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-active);
    border-radius: 5px;
}

/*----------- room overlay ----------- */
.overlay {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    position: absolute;
}

.overlay div {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    text-align: center;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 1rem;
    display: none;
    cursor:pointer;
    margin: 1rem 0rem 0rem 1rem;
    z-index: 0;
}

/* ----------- code nav bar ----------- */
.codeNavbar {
    display:flex;
    background-color: var(--bg-terciary);
    align-items: flex-start;
}

.codeNavbar > .tab {
    color: var(--bg-secondary);
    padding: 0rem 1.5rem 0rem 0rem;
    margin: 0.1rem;
    cursor: pointer;
    background-color: var(--bg-terciary);
    user-select: none;
    height: 2rem;
    line-height: 2rem;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: var(--bg-secondary);
}

.codeNavbar svg {
    width: 0.8rem;
    max-height: 1rem;
    min-width: 0.8rem;
    margin: 0 0.5rem;
}

.dropbtn {
    border: none;
    cursor: pointer;
    padding: 0.6rem;
    color: var(--bg-secondary);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 300px;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 10;
}
  
.dropdown-content a {
    padding: 0.5rem 0.5rem;
    color: black;
    background-color: var(--bg-quaternaly);
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: var(--bg-quaternaly-second);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}


/* ----------- blockly ----------- */

.blocklyTreeLabel {
    color: black;
    font-family: 'Courier New', monospace;
}

.blocklyToolboxContents {
    padding: .3em;
}

.blocklyTreeRow {
    margin-bottom: .5em;
    padding: 5px 3px 0px 3px;
    border-radius: 4px;
}

.blocklyToolboxDiv {
    z-index: 8;
}
/* ------- sidenav ------------- */

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: var(--bg-terciary);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3rem;
    box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
    border-right: solid 10px var(--bg-primary);
}
  
.sidenav a {
    padding: 1rem 1rem 1rem 2rem;
    text-decoration: none;
    color: black;
    display: block;
    font-family: 'Courier New', monospace;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: var(--bg-secondary);
    transform: scale(1.1);
    color: var(--text-primary);
}
  
/* ------- IS ------------- */
#main {
    transition: margin-left .5s;
    padding: 0rem;
    margin-left: 0px;
    margin-top: 3rem;
}

#introduction {
    position: relative;
    background-image: url("./../is/img/introduction0.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
    width: 100%;
    height: 500px;
    border-bottom: solid 10px var(--bg-primary);
}

#introductionButton{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 2rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.699);
}

.padded {
    padding: 1rem;
    margin-left: 125px;
    margin-right: 125px;
    transition: 0.5s;
}

h2, #blog > .forceH2 {
    font-family: 'Courier New', monospace;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    box-shadow: 0rem 1rem 1rem 0rem rgba(0, 0, 0, 0.699);
    margin-bottom: 4rem;
}

#blog h2 {
    color: black;
    background-color: transparent;
    padding: 0;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    box-shadow: 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0);
    margin-bottom: 1rem;
}

#blog h2 a, #blog h3 a {
    text-decoration: none;
}

#blog a {
    color: var(--bg-secondary-second)
}

#blog a:visited {
    color: var(--bg-secondary);
}

/* --------- accordions --------- */

.container {
    margin: 10px auto;
}

.ac-label {
    font-weight: 700;
    position: relative;
    line-height: 1.25em;
    padding: 0.5em 3em;
    margin-bottom: 0.5em;
    display: block;
    cursor: pointer;
    background-color: var(--bg-terciary);
    transition: background-color 0.3s ease-in-out;
    border-radius: 1em;
    user-select: none;
}

.ac-input:checked + label, .ac-label:hover {
    background-color: var(--bg-terciary-second);
}

.ac-label:after, .ac-input:checked + .ac-label:after {
    content: "+";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 2.25em;
    height: 2.25em;
    line-height: 2.25em;
    text-align: center;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: background-color 0.3s ease-in-out;
    transition: transform 0.3s;
    border-radius: 2.25em;
}

.ac-input:checked + .ac-label:after {
    background-color: var(--bg-primary-second);
    transform: rotate(405deg);
}

.ac-input {
    display: none;
}

.ac-text, .ac-sub-text {
    opacity: 0;
    height: 0;
    margin-bottom: 0.5em;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
}

.ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text {
    opacity: 1;
    height: auto;
}

.ac-sub .ac-label {
    background: none;
    font-weight: 600;
    padding: 0.5em 3em;
    margin-bottom: 0;
}

.ac-sub .ac-label:checked {
    background: none;
    border-bottom: 1px solid whitesmoke;
}

.ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after {
    left: 0;
    background-color: var(--bg-secondary);
}

.ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
    background: none;
}

.ac-sub-text {
    padding: 0 1em 0 2em;
}

/* ------ Error dialog ------ */

.Err-dialog {
    display: block;
    position: fixed;
    z-index: 20;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}

.Err-dialog-content {
    background-color: var(--bg-terciary);
    margin: auto;
    padding: 1rem;
    width: 40%;
    font-family: 'Courier New', monospace;
    color: black;
    border-radius: 2rem;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: var(--bg-secondary);
    padding: .5rem;
    border-radius: 2rem;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    margin: auto;
}
  
.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

/* ------- saves table ------------- */
.table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.table tr{
    border-bottom: 1pt solid black;
    line-height: 3rem;
}

.table svg {
    width: 1.5rem;
    min-width: 1.5rem;
    margin: 0 1.5rem;
    color: black;
    vertical-align: middle;
}