:root {
    font-size: 16px;
    font-family: 'Courier New', monospace;

    /* theme 1*/
    --text-primary: #F0F4EF;
    --text-secondary: #F0F4EF;
    --bg-primary: #0D1821;
    --bg-secondary: #344966;
    --bg-terciary: #B4CDED;
    --scroll-active: #bbbbbb;
    --scroll-inactive: #cccccc;
    
    /* theme 2 
    --text-primary: #DEF2F1;
    --text-secondary: #2B7A78;
    --bg-primary: #17252A;
    --bg-secondary: #3AAFA9;
    --bg-terciary: #FEFFFF;
    */
    /* theme 3 
    --text-primary: #2E9CCA;
    --text-secondary: #464866;
    --bg-primary: #25274D;
    --bg-secondary: #AAABB8;
    --bg-terciary: #29648A;
    */

    --bg-quaternaly: #ffffff;
    --bg-red: #ff6961;
    --bg-orange: #ffb347;
    --bg-green: #77dd77;
}

main {
    margin-top: 3rem;
    padding: 0rem;
    height: calc(100% - 3rem - 2*0rem);
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white; 
    box-sizing: border-box;
    overflow-y: hidden;
}

/*----------- navbar settings -----------*/

.navbar {
    height: 3rem;
    width: 100%;
    position: fixed;
    background-color: var(--bg-primary);
    z-index: 10;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    height: 100%;
    display: inline-block
}

.nav-item:nth-child(3) {
    margin-left: auto;
}
  
.nav-link, .nav-dropdown {
    display: flex;
    align-items: center;
    height: 3rem;
    color: var(--text-primary);
    transition: 200ms;
}

.nav-item:hover .nav-dropdown-content {
    display:block;
}
  
.nav-link:hover, .nav-dropdown:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

#runCode:hover {
    color: var(--bg-green);
}

#runDebug:hover {
    color: var(--bg-orange);
}

#stop:hover {
    color: var(--bg-red)
}
  
.nav-link svg, .nav-dropdown svg {
    width: 1.5rem;
    min-width: 1.5rem;
    margin: 0 1.5rem;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-primary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.nav-dropdown-content a {
    color: var(--text-primary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav-dropdown-content a:hover {
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
}

/*----------- splitter settings -----------*/

.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

split-hidden {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

.content {
    background-color: #fff;
    /*min-height: 50vh;  was there, in case of any problem with split.js return*/
    /*min-height: 100%;*/
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    background-color: var(--bg-primary);
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    background-color: var(--bg-primary);
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
    overflow-y: hidden;
}

/*----------- ACE breakpoints -----------*/

.ace_gutter-cell.ace_breakpoint{ 
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 1px 1px var(--bg-orange) inset; 
}

.errorMarker {
    border-bottom: 1px solid red;
    /* background-color: var(--bg-red); */
    position: absolute;
    z-index: 20;
  }

/*----------- dashboard -----------*/
.dashboard-buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.1rem;
}

.dashboard-buttons > div, .dashboard-buttons > input {
    background-color: var(--bg-secondary);
    width: calc(25% - 0.2rem);
    margin: 0.1rem;
    min-width: 7.5rem;
    color: var(--text-primary);
    text-align: center;
    line-height: 3rem;
    border-radius: 1rem;
    user-select: none;
}

.dashboard-buttons > .dashboard-slider {
    display: flex;
    flex-wrap: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: flex-start;
}

.dashboard-buttons > .dashboard-slider > div {
    padding: 1rem;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background-color: var(--bg-terciary);
    border-radius: 5px;
    height: 0.2rem;
    opacity: 0.7;
    transition: opacity 0.5s;
    outline: 0;
    outline-color: transparent;
    box-shadow: none;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 25px;
    background: var(--text-primary);
    cursor: pointer;
    border-radius: 5px;
}
  
.slider::-moz-range-thumb {
    width: 15px;
    height: 25px;
    background: var(--text-primary);
    cursor: pointer;
    border-radius: 5px;
}

.numberPicker {
    width: 75px;
    outline: 0;
    outline-color: transparent;
    box-shadow: none;
    border-radius: 5px;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    text-align: center;
}

.numberPicker::-webkit-inner-spin-button, 
.numberPicker::-webkit-outer-spin-button { 
    opacity: 1;
    border-radius: 5px;
}

.dashboard-buttons > .dashboard-textbox-console {
    width: calc(50% - 2.2rem);
    background-color: black;
    border-color: var(--bg-secondary);
    border-style: solid;
    border-width: 1rem;
    height: 15rem;
    position: relative;
    overflow: auto;
    line-height: 1.2rem;
}

.dashboard-buttons > .dashboard-textbox-console > table {
    color: lime;
    width: 100%;
    padding: 1rem;
}


.dashboard-buttons > .dashboard-textbox-console > div {
    white-space: nowrap;
    color: lime;
    padding: 1rem;
    text-align: left;
}

.controls {
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.1rem;
}

.controls div {
    background-color: var(--bg-primary);
    width: calc((100%/7) - 0.2rem);
    margin: 0.1rem;
    color: var(--text-primary);
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    border-radius: 1rem;
    user-select: none;
    cursor: pointer;
}

.controls div svg {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin: 0.70rem;
}
/*----------- scrollbars set -----------*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: var(--scroll-inactive);
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-active);
    border-radius: 5px;
}

/*----------- room overlay ----------- */
.overlay {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    position: absolute;
}

.overlay div {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    text-align: center;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 1rem;
    display: none;
    cursor:pointer;
    margin: 1rem 0rem 0rem 1rem;
    z-index: 5;
}

/* ----------- code nav bar ----------- */
.codeNavbar {
    display:flex;
    background-color: var(--bg-terciary);
    align-items: flex-start;
}

.codeNavbar > div {
    color: var(--bg-secondary);
    padding: 0rem 1.5rem 0rem 0rem;
    margin: 0.1rem;
    cursor: pointer;
    background-color: var(--bg-terciary);
    user-select: none;
    height: 2rem;
    line-height: 2rem;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: var(--bg-secondary);
}

.codeNavbar svg {
    width: 0.8rem;
    min-width: 0.8rem;
    margin: 0 0.5rem;
}